<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{darphe/likes}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
<title>Resume</title>
</head>
<body>


	<div th:replace="fragments/header :: header"></div>

	<div class="container" layout:fragment="content">
		
		<div class="parcenter">
			<h5>DARPHÉ JEAN</h5>
			<h5>3505 SW 52 Ave, apt 104 • Pembroke Park, FL 33023</h5>
			<h5>
				641-819-1075 • darphejean@gmail.com • <a
					href="https://www.linkedin.com/in/darphe-jean">https://www.linkedin.com/in/darphe-jean</a>
			</h5>
		</div>

		<hr>
		<h5 class="parcenter">JAVA DEVELOPER</h5>

		<p class="paraf">Motivated Professional Java Backend developer
			with an extensive education and over 4 years of industry experience
			in Information Technology and computer science fields. History of
			successful implementation of both the front end and back end of
			academic projects using technologies such as Java, Spring Boot,
			MySQL, Hibernate, NodeJS, MongoDB, and RESTful Web Services. An
			organized and analytical team player with solid skills in modern
			programming practices and programming techniques.</p>


		<p class="parcenter">Software Application Development • Java
			Programming • Data Structures • SDLC • OOPS Front-End & Back-End
			Components • Testing & Troubleshooting • Data Manipulation •
			Algorithms</p>

		<ul class="ul-nobullet">
			<li>Languages: Java</li>
			<li>Web: HTML, CSS, JavaScript, Thymeleaf, JSON, GSON, AJAX,
				Bootstrap</li>
			<li>Web Services: RESTful</li>
			<li>Web/App Servers: Tomcat, Apache</li>
			<li>Frameworks: Spring (Web MVC, Boot), Hibernate, JPA, NodeJS,
				Angular, Mongoose</li>
			<li>Databases: MySQL, MongoDB</li>
			<li>Design Patterns: Singleton, Factory</li>
			<li>SDLC: RUP, Agile/SCRUM</li>
			<li>Tools: Eclipse, NetBeans, Notepad++, IntelliJ, Spring Tool
				Suite, Visual Studio Code, JUnit, Project Lombock, Git, JCreator, MS
				Visio, StarUML, Maven, Postman, Swagger</li>
			<li>Platforms: Windows, Mac OS</li>
		</ul>
		<br>
		CAREER NOTE: Completed on-campus studies with a GPA of 3.54 and
		currently taking distance education courses to complete a Master's
		Degree in Computer Science (Available for full-time, W-2 employment).

		<hr>
		

		<p class="parcenter">
			<h5 class="parcenter"><b>EDUCATION</b></h5>
			<br> 
			<b>Master of Science in Computer Science</b> <br> (In progress via distance education; expected
			completion June 2022) <br> Maharishi International University –
			Fairfield, Iowa <br> <br> <b>Key Courses:</b> Fundamental
			Programming Practice; Modern Programming Practice; Software
			Engineering; Web Application Programming; Enterprise Architecture;
			Modern Web Application<br>
			<br> <b>Bachelor of Science in Computer Science</b> (2011)<br>
			Institut Universitaire Quisqueya Amerique – Port-au-Prince, Haiti<br>
			<br>
			
			<h5 class="parcenter"><b>PROFESSIONAL DEVELOPMENT</b></h5><br> 
			Economic & Social Administration Studies – Ecole de Droit et des Sciences Economiques
			(2019)<br> Mathematics Certification – Universite d'Etat d'Haiti (2010)
		</p>
		<hr><br>

		<h5 class="parcenter"> <b>ACADEMIC PROJECTS</b> </h5> <br> 
		<b>Online Market, MIU (2020):</b>
		Designed and developed a project which allows sellers to post
		products, system admin to approve, and customers to buy listed
		products.
		<ul>
			<li>Wrote all back-end code from scratch.</li>
			<li>Ensured user authentication and validation.</li>
			<li>Created a comprehensive video describing project
				functionalities.</li>
		</ul>
		<b><u>Technologies Used:</u></b> NodeJS, CSS, VS Code, Angular,
		MongoDB, Mongoose, Git, GitHub <br><br>
		 
		<b>eClinic, MIU (2020):</b> Developed an online shopping
		system which allows patients to place online appointments for specific
		issues with available doctors.
		<ul>
			<li>Used GSON to convert data retrieved from database into JSON
				format.</li>
			<li>Reduced JavaScript code using jQuery functions. Used
				Servlets to implement server side.</li>
			<li>Implemented asynchronous updates and server data exchange
				using AJAX.</li>
			<li>Tested server-side logic with Postman and designed domain
				model with StarUML.</li>
			<li>Integrated JDBC for connectivity with MySQL database.</li>
		</ul>
		<b><u>Technologies Used:</u></b> Java, Eclipse, Servlets, HTML, CSS,
		JavaScript, AJAX, jQuery, VS Code, Servlets, Tomcat, MySQL, GSON,
		JDBC, Postman, StarUML, Git, Bootstrap <br><br>
		 
		<b>eShopping, MIU (2020):</b> Designed and developed an
		online shopping system allowing product purchase.
		<ul>
			<li>Designed domain model. Ensured task completion by all team
				members.</li>
			<li>Implemented CRUD operations for user shopping cart modules.</li>
		</ul>
		
		<b><u>Technologies Used:</u></b> Java, STS, Maven, Spring Boot,
		Thymeleaf, Angular, RESTful web services, HTML, CSS, Tomcat, MySQL,
		Postman, StarUML, Git, GitHub. <br> <br> 
		
		<h5 class="parcenter"><b>PROFESSIONAL PROJECTS</b></h5> <br>
		
		<b>SYGACP, Académie Chrétienne Primitive (2018):</b> Implemented an internal school
		web application that keep track of all students’ information.
		<ul>
			<li>Designed the domain model.</li>
			<li>Developed CRUD operations for user and student models.</li>
			<li>Wrote and provided application documentation.</li>
		</ul>
		<b><u>Technologies Used:</u></b> Java, Eclipse, Spring boot, Maven,
		Restful, Tomcat, MySQL, MS Visio, Postman, Thymeleaf, HTML, CSS. 
		<hr><br>
		
		<h5 class="parcenter"><b>PREVIOUS PROFESSIONAL EXPERIENCE</b></h5> <br>
		<b>ACADÉMIE CHRÉTIENNE PRIMITIVE, Saint-Louis du Nord, Haiti • 2016-2019</b><br>
		Public school from preschool to 10th grade.<br> 
		<b>Pedagogic & IT Director</b> 
		Managed all aspects of the school's Information Technology program.
		<ul>
			<li>Created software applications for internal use.</li>
			<li>Maintained computer hardware, software, and associated
				equipment.</li>
			<li>Planned teaching approaches and curriculum.</li>
		</ul>
		<br>
		
		<b>DIRECTION GÉNÉRALE DES IMPÔTS, Port-au-Prince, Haiti • 2016-2019</b><br>
		Governmental Public Administration which collects taxes.<br>
		
		<b>Data Capture Operator / Inspector</b>
		Gathered, verified, and maintained human and vehicle registration data.<br>
		<ul>
			<li>Entered confidential, sensitive data with accuracy and speed.</li>
			<li>Prepared complicated financial and tax receipts.</li>
			<li>Identified potential issues with data integrity and recommended proactive solutions.</li>
		</ul>
			
		<br> 
		<b>JELDNET AND SERVICES, Port-au-Prince, Haiti • 2013-2014</b><br> 
		An IT related Company that provided software and hardware services <br>
		<b>Java Developer</b> Designed and implemented java
		codes for the Stock Management System of the Company<br>

		<ul>
			<li>Capture the user requirement.</li>
			<li>Scheduled meetings with the other team members to discuss
				about the progress of the project and assure that we met the user
				requirements.</li>
		</ul>
		<br>
		<b>SOGEBANK S.A., Port-au-Prince, Haiti • 2011-2016</b> <br>
		Commercial Bank <b>Bank Teller</b>
		<ul>
			<li>Promoted products or services to each customer to
				consistently achieve sales targets.</li>
			<li>Completed highly accurate, high-volume money counts via
				manual approaches.</li>
		</ul>
		<br>

	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>