<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{darphe/likes}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
<title>Resume</title>
</head>
<body>


	<div th:replace="fragments/header :: header"></div>

	<div class="container" layout:fragment="content">
		
		<div class="parcenter">
			<h6><a class="nav-item" href="/darphejean/cv">[FR]</a></h6>
			<h5>DARPHÉ JEAN</h5>
			<h5>3505 SW 52 Ave, apt 104 • Pembroke Park, FL 33023</h5>
			<h5>
				641-819-1075 • darphejean@gmail.com • <a
					href="https://www.linkedin.com/in/darphe-jean">https://www.linkedin.com/in/darphe-jean</a>
			</h5>
		</div>

		<hr>
		<h5 class="parcenter">JAVA DEVELOPER</h5>

		<p class="paraf">Motivated Professional Java Backend developer
			with an extensive education and over 4 years of industry experience
			in Information Technology and computer science fields. History of
			successful implementation of both the front end and back end of
			academic projects using technologies such as Java, Spring Boot,
			MySQL, Hibernate, NodeJS, MongoDB, and RESTful Web Services. An
			organized and analytical team player with solid skills in modern
			programming practices and programming techniques.</p>

		<hr>
		<p class="parcenter">Software Application Development • Java
			Programming • Data Structures • SDLC • OOPS Front-End & Back-End
			Components • Testing & Troubleshooting • Data Manipulation •
			Algorithms</p>

		<ul class="ul-nobullet">
			<li>Languages: Java</li>
			<li>HTML, CSS, JavaScript, Thymeleaf, JSON, GSON, JQuery, AJAX, Bootstrap</li>
			<li>Web Services: REST, SOAP</li>
			<li>Web/App Servers: Apache Tomcat</li>
			<li>Frameworks: Spring(Core, MVC, Boot, Data, REST, Cloud, ActiveMQ), Hibernate, 
				JPA, NodeJS, Mongoose, Angular, Microservices</li>
			<li>Databases: MySQL, MongoDB, MS Access, PostgreSQL</li>
			<li>Design Patterns: Singleton, Factory, Session, Observer, Prototype</li>
			<li>SDLC: RUP, Agile/SCRUM</li>
			<li>Tools: Eclipse, NetBeans, Notepad++, IntelliJ, Spring Tool Suite, Visual Studio Code, JUnit,
				 Project Lombok, Git, JCreator, MS Visio, StarUML, Maven, Postman, Swaggerr</li>
			<li>Platforms: Windows, Mac OS</li>
			<li>Knowledge: CI/CD / Jenkins (basics), Kafka (basics), Oracle PL/SQL (academic experience)</li>
		</ul>
		<br>
		CAREER NOTE: Completed on-campus studies and
		currently taking distance education courses to complete a Master's
		Degree in Computer Science (Available for full-time, W-2 employment).

		<hr>
			<h5 class="parcenter"><b>PROFESSIONAL EXPERIENCES</b></h5> <br>
		<b>ACADÉMIE CHRÉTIENNE PRIMITIVE, Saint-Louis du Nord, Haiti • 2016-2019</b><br>
			Private school from preschool to 10th grade.<br> 
		<b>Pedagogic & IT Director</b> 
		Managed all aspects of the school's Information Technology program.
		<ul>
			<li>Created software applications for internal use along with requirements gathering from clients.</li>
			<li>Implemented a REST API for an internal web application that keeps track of all students’ information.</li>
			<li>Designed the domain model, and developed/implemented the user and student microservices.</li>
			<li>Developed microservices API following Agile methodology using Scrum framework</li>
			<li>Wrote and provided application documentation.</li>
			<li>Maintained software and associated applications</li>
			<li>Planned training approaches for different user groups.</li>
		</ul>

		<b><u>Technologies Used:</u></b> Java, Eclipse, Spring boot, Spring Security, Maven, REST, JSON, Hibernate, Postman, Tomcat, MySQL, MongoDB, JPA, Junit, MS Visio, Bootstrap, Agile/Scrum, HTML5, CSS3, Spring cloud, Netflix OSS(Eureka, Zuul, Ribbon), Git, GitHub.<br><br>
		
		<b>JELDNET AND SERVICES, Port-au-Prince, Haiti • 2013-2014</b><br> 
		An IT related Company that provided software and hardware services <br>
		<b>Java Developer</b> Designed and implemented java
		codes for the Stock Management System of the Company<br>
		
		<ul>
			<li>Capture the user requirements and prepared functional specifications.</li>
			<li>Scheduled meetings with the other team members to discuss the progress of the project and assure that we met the user requirements.</li>
			<li>Designed and provided the use case diagrams and descriptions.</li>
			<li>Key developer of coding and code reviews in the project.</li>
		</ul>
		<b><u>Technologies Used:</u></b> Java, Spring boot, MySQL, Maven, Thymeleaf, HTML5, JDBC Bootstrap, Hibernate, JPA, JSP, Visio.<br><br>
		
		<b>SOGEBANK S.A., Port-au-Prince, Haiti • 2011-2016</b> <br>
		Commercial Bank <br> <b>Bank Teller</b>
		<ul>
			<li>Promoted products or services to each customer to
				consistently achieve sales targets.</li>
			<li>Completed highly accurate, high-volume money counts via
				manual approaches.</li>
		</ul>
		
		<hr><br>

		<h5 class="parcenter"> <b>PERSONAL PROJECT</b> </h5>
		<b>My Web Page (2020): </b>
			Designed and developed a web application that gives a brief summary of me and my expertise,
				 allows visitors to comment and like.
		<b><u>Technologies Used:</u></b> Java, Spring boot, PostgreSQL, Maven, Yaml, Thymeleaf, Html5, 
			CSS, Bootstrap, Hibernate, JPA, Lombok, Git, Github, Heroku, Mac OS.<br>
		
		<hr>
		
		<h5 class="parcenter"> <b>ACADEMIC PROJECTS</b> </h5>
		<b>TM Checker, MIU (2020): </b>
			Designed and developed a Backend API that provides the possibility of a MIU student to make 
			reservation for TM checking, the instructor may accept one student per appointment.
		<ul>
			<li>Designed domain model. Ensured task completion by all team members.</li>
			<li>Provided the layered startup code and planned for assigning tasks to other members.</li>
			<li>Implemented CRUD operations for user shopping cart modules.</li>
		</ul>
		<b><u>Technologies Used:</u></b> Java, STS, Maven, Spring Boot, REST, Tomcat, MySQL, Postman, StarUML, Git, GitHub. <br><br>
		 
		 <b>Online Market, MIU (2020):</b>
		Designed and developed a project which allows sellers to post
		products, system admin to approve, and customers to buy listed
		products.
		<ul>
			<li>Wrote all back-end code from scratch.</li>
			<li>Ensured user authentication and validation.</li>
			<li>Created a comprehensive video describing project
				functionalities.</li>
		</ul>
		<b><u>Technologies Used:</u></b> NodeJS, CSS, VS Code, Angular,
		MongoDB, Mongoose, Git, GitHub <br><br>
		 
		<b>eClinic, MIU (2020):</b> Developed an online clinical
		system which allows patients to place online appointments for specific
		issues with available doctors.
		<ul>
			<li>Implemented Appointment and Reservation (made by patients) code using Java.</li>
			<li>Tested server-side logic with Postman and designed domain model with StarUML.</li>
			<li>Integrated JDBC for connectivity with MySQL database.</li>
		</ul>
		<b><u>Technologies Used:</u></b> Java, Eclipse, Servlets, HTML, CSS,
		JavaScript, AJAX, jQuery, VS Code, Servlets, Tomcat, MySQL, GSON,
		JDBC, Postman, StarUML, Git, Bootstrap <br><br>
		 
		<b>eShopping, MIU (2020):</b> Designed and developed an
		online shopping system allowing product purchase.
		<ul>
			<li>Designed domain model.</li>
			<li>Ensured task completion by all team members.</li>
			<li>Implemented CRUD operations for user, shopping cart modules.</li>
		</ul>
		
		<b><u>Technologies Used:</u></b> Java, STS, Maven, Spring Boot,
		Angular, RESTful web services, HTML, CSS, Tomcat, MySQL,
		Postman, StarUML, Git, GitHub. <br> <br> 
		
		<hr>

		<div class="parcenter">
		  <p>
			<h5 class="parcenter"><b>EDUCATION</b></h5>
			<br> 
			<b>Master of Science in Computer Science</b> <br> (In progress via distance education; expected
			completion June 2022) <br> Maharishi International University –
			Fairfield, Iowa <br> <br> <b>Key Courses:</b> Fundamental
			Programming Practice; Modern Programming Practice; Software
			Engineering; <br>Web Application Programming; Enterprise Architecture;
			Modern Web Application<br>
			<br> <b>Bachelor of Science in Computer Science</b> (2011)<br>
			Institut Universitaire Quisqueya Amerique – Port-au-Prince, Haiti<br><br>
			
			<b>Mathematics Certification</b> (2010)<br>
			Universite d'Etat d'Haiti / Ecole Normale Superieure <br><br>
			
			<b>Economic & Social Administration</b> (2019)<br>
			Universite d'Etat d'Haiti / Ecole de Droit et des Sciences Economiques
		  </p>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>