
		<b>DIRECTION GÉNÉRALE DES IMPÔTS, Port-au-Prince, Haiti • 2016-2019</b><br>
		Governmental Public Administration which collects taxes.<br>
		
		<b>Data Capture Operator / Inspector</b>
		Gathered, verified, and maintained human and vehicle registration data.<br>
		<ul>
			<li>Entered confidential, sensitive data with accuracy and speed.</li>
			<li>Prepared complicated financial and tax receipts.</li>
			<li>Identified potential issues with data integrity and recommended proactive solutions.</li>
		</ul>
			
		<br> 