<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
	<title>Create Like</title>
</head>
<body>
	
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">
		<h3 style="text-align:center">You can choose like or unlike in the drop box</h3>
		<hr>
		
		<p class ="h4 mb-4">Create like</p>
		
		<form action="#" th:action="@{/darphejean/savelike}"
						 th:object="${like}" method="POST">
						 
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{userName}"
					class="form-control mb-4 col-4" placeholder="Your name please">
			
			<select class="form-control mb-4 col-4" th:field="*{status}">
			    <option th:value="Like" th:text="Like"></option>
			    <option th:value="Unlike" th:text="Unlike"></option>
			</select>
			
			<input type="text" th:field="*{description}"
					class="form-control mb-4 col-4" placeholder="Why?">
					
			<button type="submit" class="btn btn-info col-2">Ok</button>
			
		</form>
		
		<hr>
		<a th:href="@{/darphejean/home}">Back to Home Page</a>
	</div>
	<br><br>
	
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>