<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
	<title>Commentaires</title>
</head>
<body>
	
	
	<div th:replace="fragments/french-header :: header"></div>
	
	<div class="container">
		<h6><a class="nav-item" href="/darphejean/comments/list">[ANG]</a></h6>
		<h1 class="hea">Merci pour vos commentaires. :)</h1>
		<hr>
		
		<!-- Add a button -->
		<a th:href="@{/darphejean/formcommentaire}"
			class="btn btn-primary btn-sm mb-3">
			Faites un Commentaire
		</a>
		
		<hr>
		
		<ul>
			<li th:each="comment: ${comments}" th:text = "${comment.userName} + ' dit:  ' + ${comment.message}" > </li> 
		</ul>
		<hr>
		<br>
	
		<a th:href="@{/darphejean/accueil}">Retour à la Page d'Acceuil</a>
	
	</div>
	<br><br>
	<div th:replace="fragments/french-footer :: footer"></div>
	
</body>
</html>