<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{darphe/comments}">
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
  <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
<title>Darphe Home Page</title>
</head>
<body>
	
	
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container" layout:fragment="content">
		<h1 class="hea">Thank you for you comments. :)</h1>
		<hr>
		
		<!-- Add a button -->
		<a th:href="@{/darphejean/commentform}"
			class="btn btn-primary btn-sm mb-3">
			Give a Comment
		</a>
		
		<hr>
		
		<ul>
			<li th:each="comment: ${comments}" th:text = "${comment.userName} + ' says:  ' + ${comment.message}" > </li> 
		</ul>
		<hr>
		<br>
	
		<a th:href="@{/darphejean/home}">Back to Home Page</a>
	
	</div>
	<br><br>
	<div th:replace="fragments/footer :: footer"></div>
	
</body>
</html>